source_code/__pycache__/
.conda_env/
.vscode/

test_runs/

fermionic_runs/output/
fermionic_runs/plots/
fermionic_runs/raw_data/

bosonic_runs/output/
bosonic_runs/plots/
bosonic_runs/raw_data/



*.sh
*.npy
*.out
*.pdf
*.png
*.jpg

